@import url("https://fonts.cdnfonts.com/css/doingwise");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Doingwise", sans-serif;
  background-color: #898bff;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-top: 16px;
}

/* First section */
.guide {
  font-size: 1.7rem;
  padding: 16px 22%;
}

.guide details {
  margin: 0 20%;
}

.guide summary {
  font-weight: 700;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  list-style-position: inside;
  font-size: 1.5rem;
  gap: 16px;
}

.how-to-play li {
  margin-left: 32px;
}

/* Second section */
.board-game {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 100px);
  gap: 10px;
}

.card {
  position: relative;
  width: 100px;
  height: 140px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.flip-card {
  transform: rotateY(180deg);
}

.front-side, 
.back-side {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.front-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aeafe8;
  transform: rotateY(180deg);
}

.back-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #413da0;
  backface-visibility: hidden;
}

.front-image,
.back-image {
  width: 70px;
  height: 70px;
}

/* Button */
.btn {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.btn button {
  background-color: #5350ad;
  padding: 12px 20px;
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn button:hover {
  background-color: #4845b1;
}